body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ECEFF1 !important;
}

.top-menu-container {
    background-color: #fff;
}

.top-menu {
    display: flex;
    align-items: center;
}

.vl{
    height: 22px;
    width: 1px;
    border: 1px solid #D5D5D5;
}

.top-logo {
    border-radius: 50%;
}

.vertical-dots {
    color:#616161;
    margin:0 10px 0 12px;
    cursor: pointer;
}

.user {
    font-size: 40px;
    color: red;
}

.top-right-container {
    display: flex;
    align-items: center;
}

/* card section start */

.head-card {
    width: 1200px;
    height: 120px;
    margin: 60px 0 18px 0;
}

.head-body {
    margin-top: 15px;
}

.bottom-card {
    width: 1200px;
    height: 560px;
}

.module-container {
    display: flex;
    justify-content: center;
}

.tree-items {
    display: flex;
    color: #757575;
    border-bottom: 1px solid #E0E0E0;
}

.menu-right-icon {
    color: #BCBCBC;
}

.form-check-input:checked {
    background-color: #2F3160 !important;
    border-color: #2F3160 !important;
}

.form-check-input[type=checkbox] {
    border-radius: 0 !important;
}

ul, #myUL {
    list-style-type: none;
}
  
#myUL {
    padding: 5px 0 0 0;
    border: 1px solid #E0E0E0;
    margin: 0 40px 0 40px;
    height: 316px;
    overflow: overlay;
}

.caret {
  cursor: pointer;
  user-select: none; 
}

.caret::before {
  display: inline-block;
  margin-right: 2px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
  margin-left: -23px;
  margin-bottom: 5px;
}

.active {
  display: block;
  margin-top: 5px;
}

.menu-right-icon {
    color: #BCBCBC;
    margin-top: 2px;
}

.inside-folder {
    margin-left: -126px;
    margin-top: 38px;
}

.tree-text {
    color: #212121;
}

.top-text {
    display: flex;
    margin-top: 38px;
    margin-left: 37px;
    align-items: center;
}

.for-version {
    width: 1000px;
}

.version {
    display: flex;
    position: relative;
}

.align-version {
    margin-left: 766px;
}

.expand-color {
    background-color: #F5F5F5;
}

.export-btn {
    background-color: #2F3160;
    color: #fff;
    width: 118px;
}

.export-btn-container {
    margin-top: 78px !important;
}

.bottom-container {
    display: flex;
    align-items: center;
}

.left-text {
    background-color: #ECEDF6;
    border-radius: 4px;
}

.right-text {
    color: #757575;
    font-size: 17px;
}

.mdi-pencil-outline {
    cursor: pointer;
}