body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ECEFF1 !important;
}

.top-menu {
    height: 87px;
    width: 100%;
    border-bottom: 1px solid #D5D5D5;
    background-color: #fff;
}

.corner-container {
    margin: 20px;
}

.logo-container {
    display: flex;
    width: fit-content;
    padding-right: 14px;
}

.vl {
    width: 1px;
    height: 53px;
    border: 1px solid #DEE1E2;
}
.menu {
    background-color: #2F3160 !important;
    width: 223px !important;
}

.menu-item {
    color: #fff !important;
    font-weight: 600 !important;
    margin-bottom: 4px;
    font-size: 12px;
}

.menu-item:hover {
    background-color: #4F537B !important;
}

.chevron-down {
    color: #A1A1A1;
    margin-top: 5px;
    cursor: pointer;
}

.title-container {
    display: flex;
    align-content: center;
}

.title {
    margin-left: 10px;
    color: #212121;
    font-weight: 700;
    font-size: 18px;
}

.title-logo {
    border-radius: 50%;
    border: 2px solid #ECEFF1;
}
.tabs {
    display: flex;
    margin-left: 18px;
}

.middle-container {
    margin-left: -25px;
    margin-top: 14px;
}

.tab-item {
    margin-right: 12px;
    cursor: pointer;
}

.tab-texts {
    display: flex;
    font-size: 14px;
}

.tab-settings {
    font-size: 14px;
    border-bottom: 2px solid #212121;
}

.close-icon {
    margin-left: 10px;
}

span {
    padding-bottom: 5px;
}

.icons {
    margin-right: 3px;
}

.end-container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 9px;
}

.user {
    font-size: 40px;
    color: red;
}

.end-icons {
    margin-right: 8px;
}

.play {
    color: #fff;
}

.play-button {
    background-color: #1B998B !important;
    border: 1px solid #1B998B !important;
}

.vertical-dots {
    color:#616161;
    margin:0 10px 0 12px;
    cursor: pointer;
}

.export-button, .deploy-button {
    background-color: #fff;
    border: 1px solid #000;
}

.menu-export {
    width: 280px;
    height: 250px;
    border: 1px solid #000 !important;
    padding: 2px !important;
    margin-top: 3px !important;
}

.export-menu-items {
    margin: 10px 13px 10px 0;
    padding-bottom: 1px !important;
}

.export-menu-items:hover{
    display: block;
}

.export-menu-icon {
    color: #757575;
    margin-top: 4px;
    margin-right: 5px;
}

.export-menu-text {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
}

.export-menu-description {
    font-size: 13px;
}

.export-text, .deploy-text {
    font-weight: 600;
    margin-left: 3px;
}

.view-jobs {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #14ADFC;
    font-weight: 700;
}

.vertical-nav {
    height: 100vh;
    width: 56px;
    background-color: #fff;
    border: 1px solid #D5D5D5;
}

.menu-icon, .bottom-two {
    margin-top: 4px;
    color: #2F3160;
    cursor: pointer;
    padding-left:5px;
    padding-right: 5px;
}

.explorer-text {
    margin-top: 62px;
    transform: rotate(270deg);
    text-orientation: mixed;
    color: #2F3160;
    font-size: 20px;
    font-weight: 600;
}

.menu-icon-container {
    display: flex;
    justify-content: center;
}

.bottom-icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.arrow-left {
    margin-top: 4px;
    color: #6F749F;
}

.bottom-two:hover {
    background-color: #D0D1E9;
    border-radius: 4px;
}

.vertical-nav-expanded {
    height: 100vh;
    width: 335px;
    background-color: #fff;
    border: 1px solid #D5D5D5;
}

.expanded-menu-container {
    margin: 8px;
}

.explorer-text-expanded {
    color: #2F3160;
    font-size: 18px;
    font-weight: 650;
    margin-top: 3px;
}

.explorer-container {
    display: flex;
}

.chevron-left {
    margin-left: 210px;
    font-size: 30px;
    cursor: pointer;
    margin-top: -10px;
}

input[type="search"] {
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    font-size: 18px;
    padding-left: 33px;
    margin-right: 25px;
}

input[type="search"]::placeholder {
    color: #909090;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    margin-left: 8px;
    font-size: 23px;
    color: #909090;
}

.chips-container {
    display: flex;
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 20px;
}

.chip {
    border-radius: 16px;
    border: none;
    margin-right: 3px;
    color: #fff;
    padding: 1px 12px 1px 12px;
    font-size: 13px;
    font-weight: 500;
}

.chip1 {
    background-color: #449DD1;
}

.chip2 {
    background-color:  #E9724C;
}

.chip3 {
    background-color: #007C77;
}

.chip-icons {
    color: #fff;
    margin-right: 2px;
}

.up-icon {
    display: flex;
    margin-top: -19px;
    color:  #757575;
    font-size: 18px;
}

.down-icon {
    color:  #757575;
    font-size: 18px;
}

.up-down-icons {
    margin-left: 10px;
}

ul, #myUL {
    list-style-type: none;
}
  
#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none; 
}

.caret::before {
  display: inline-block;
  margin-right: 2px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
  margin-left: -23px;
  margin-bottom: 5px;
}

.active {
  display: block;
  margin-top: 5px;
}

.menu-right-icon {
    color: #BCBCBC;
}

.inside-folder {
    margin-left: 4px;
    margin-top: 5px;
}

.tree-db-icon {
    color: #E9724C;
}

.tree-page-icon {
    color: #449DD1;
}

.tree-process-icon {
    color: #007C77;
}

.tree-icons {
    margin-right: 4px;
}

.tree-items {
    margin-bottom: 5px;
    color: #757575;
}

.tree-text {
    color: #212121;
}

.tree-dot {
    padding-left: 130px;
}

.plus-1 {
    margin-left: 151px;
}

.plus-2 {
    margin-left: 161px;
}

.plus-3 {
    margin-left: 145px;
}

.vertical-bottom-container {
    width: inherit;
    margin-bottom: 5px;
}
.vertical-bottom-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: #D0D1E9;
    margin-bottom: 10px;
}

.new-module-text {
    padding: 4px 0 4px 0;
    margin: 0;
    color: #151233;
    font-weight: 700;
}

.icons-end {
    font-size: 28px;
}

.end-arrow {
    margin-right: 206px;
    margin-left: 10px;
}

.head-card {
    width: 1200px;
    height: 120px;
    margin: 60px 0 18px 0;
}

.head-body {
    margin-top: 15px;
}

.settings-logo {
    margin-top: -4px;
    margin-left: 18px;
}

.bottom-card {
    width: 1200px;
    height: 560px;
}

.left-section {
    background-color: #EEEEEE;
}

.left-items {
    margin: 15px 0 15px 0;
    font-size: 20px;
    color: #757575 !important;
    font-weight: 600 !important;
}

.last-item {
    margin-bottom: 86px;
}

.left-items:hover {
    background-color: #fff !important;
    border-left: 3px solid #151233;
    color: #151233 !important;
}

.remove-gutterx {
    --bs-gutter-x: 0 !important;
}

.card-tabs {
    display: flex;
}

.card-tab-items {
    margin-right: 32px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F3160;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2F3160;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-container {
    display: flex;
}
.switch-text1 {
    margin-right: 198px;
}
.switch-text2 {
  margin-right: 105px;
}

.form-check-input:checked {
    background-color: #2F3160 !important;
    border-color: #2F3160 !important;
}

.form-check-input[type=checkbox] {
    border-radius: 0 !important;
}

.radio-container {
    display: flex;
}

.save-btn {
    background-color: #2F3160;
    color: #fff;
    width: 97px;
}

.save-btn-container {
    margin-top: 78px !important;
}