#gear1, #gear2, #gear3 {
    color: #888;
    display: block;
    float: left;
    position: absolute;
}
            
#gear1 {
    top: 134px;
    left: 40px;
    font-size: 56px;
    color: #2F3160;
}
            
#gear2 {
    left: 60px;
    font-size: 86px;
    color: #2F3160;
}

#gear3 {
    top: 45px;
    left: 110px;
    font-size: 136px;
    color: #2F3160;
}

.loading-text{
    color: #2F3160;
    font-size: 36px;
    font-weight: 500;
}

.studio-text {
    font-size: 63px; 
    letter-spacing: 1.57px; 
    color: #2F3160; 
    font-weight: 400; 
    font-family: sans-serif;
}

.cogs {
    height: 270px;
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.spin-back {
    -webkit-animation:spin-back 4s linear infinite;
    -moz-animation:spin-back 4s linear infinite;
    animation:spin-back 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }