body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-background {
    width: 60%;
    height: 100vh;
}

.login-container {
    display: flex;
}

.form-logo{
    display: flex;
    align-items: center;
    margin-top: 219px;
    width: 276px;
    height: 49px;
    margin-left: 270px;
}

.login-text-container{
    width: 80px; 
    margin-bottom: 16.5px;
    border-bottom: 3px solid #151233;
    opacity: 1;
}

.login-text {
    margin-bottom: 1px;
    text-align: left;
    font-size: 32px;
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #151233;
    opacity: 1;
}

.content {  
    text-align: left;
    font-size: 22px; 
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #757575;
    opacity: 1;
    margin-bottom: 41px;
}

.form-content {
    margin-top: 60px;
    margin-left: 200px;
}

input[type=text], input[type=password] {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 4px;
    border: none;
    font-size: 20px; 
    font-family: 'Roboto';
    font-weight: normal;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}

.input-style {
    border: none;
    background-color: #EEEEEE;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

.forgot-password-text {
    font-size: 18px; 
    font-family: 'Roboto';
    font-weight: normal;
    color: #4F537B;
    text-decoration: none; 
}

.forgot-password-text:hover {
    color: #4F537B;
}

.forgot-password {
    margin-top: -14px !important;
    width: 100%;
    text-align: right;
    margin-bottom: 52px;
}

.eye, .chevron-down {
    margin-right: 10px;
}

.login-button {
    width: 100%;
    height: 48px;
    font-size: 20px; 
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFFFFF;
    background-color: #2F3160;
    border-radius: 4px;
}

.form-control:focus {
    background-color: #EEEEEE !important;
    box-shadow: none !important;
 }